<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{{ SDG_INDICATOR.value }}</title>
        <style>
            h1 {
                border-bottom: 2px solid #BBB;
                padding-bottom: 10px;
              }
            table {
                border-collapse: collapse;
            }
            table, th, td {
                border: 1px solid black;
            }
            th, td {
                padding: 10px;
                text-align: left;
            }
            img {
                max-width: 100%;
            }
            .m-ind-header {
                color: #1c75bc;
            }
            .m-ind-header, .m-g-t-header {
                background: #EEE;
                margin: 0;
                padding: 10px 0;
            }
            .footnotes {
                border-top: 2px solid #BBB;
                margin: 25px 0 0 0;
                padding: 15px 30px;
                font-size: 13px;
            }
        </style>
        <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
        <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    </head>
    <body>
        {% block content %}{% endblock %}
    </body>
</html>
