<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{{ title }}</title>
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/diff2html/bundles/css/diff2html.min.css" />
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/diff2html/bundles/js/diff2html.min.js"></script>
        <style>
            .d2h-code-line-ctn {
                white-space: normal;
            }
            ins, del, h1 p, h2 p, h3 p, h4 p, h5 p, h6 p {
                display: inline;
            }
            ins.diffmod {
                background: lightgreen;
            }
            del.diffmod {
                background: salmon;
            }
            ins.diffins {
                background: lightgreen;
            }
            .sdg-diff-section {
                padding: 20px;
                margin: 20px 0;
                background: #EEE;
            }
        </style>
    </head>
    <body>
        <h1>{{ title }}</h1>
        <h3>{{ date }}</h3>
        {{ htmlDiff }}
    </body>
</html>